.mtolococinco{
    margin-top: 134px;
}
.mtolococinco1{
    margin-top: 175px;
}
.designcordohquatro{
    box-shadow: 1px 1px 9px black;
    margin-bottom: 50px;
    margin-left: 77px;
    position: relative;
    left: 46%;

    h4{
        margin: -10px auto;
        background-color: rgba(0, 52, 235, 1);
        color: #fff;
    }
    p {
        text-align: start;
        position: relative;
        top: 23px;
}
}
.iconedopaypalv2{
    position: relative;
    left: 19px;
    bottom: 3px;
    z-index: 99;
}
.precosbotaov2{
    width: 46%;
    background: linear-gradient(#203854, #01f3e5);
    color: #fff;
    border: none;
    border-radius: 2rem;
    margin: 15px auto;
    text-shadow: 1px 1px 6px black;
    height: 6vh;
    position: relative;
    right: 13px;
}