.bordachamada{
    background-image: $botaocornormal;
    height: 25vh;
    width: 100%;
    color: #fff;
    margin-top: 50px;
    
}
.chamadabotao{
    background: transparent;
    color: #fff;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 25px;
    width: 27%;
}